<div class="cms-sidebar">
            <ul>
                <span class="sidebar-heading">NAVIGATION</span>
                <i id="sidebar-close" class="bi bi-x-lg"></i>

                <li onclick="return location.href=' @Url.Action("User","Admin") '">
                    <i id="icon" class="bi bi-person-fill"></i><span id="sidebar-text">User</span>
                </li>
                <li onclick="return location.href=' @Url.Action("CMS","Admin") '">
                    <i class="bi bi-file-earmark-text"></i><span>CMS Page</span>
                    </li>
                <li onclick="return location.href=' @Url.Action("Mission","Admin") '"><i class="bi bi-bullseye"></i><span>Mission</span></li>
                <li onclick="return location.href=' @Url.Action("MissionTheme","Admin") '"><i class="bi bi-grid-1x2-fill"></i><span>Mission Theme</span></li>
                <li onclick="return location.href=' @Url.Action("MissionSkill","Admin") '"><i class="bi bi-tools"></i><span>Mission Skills</span></li>
                <li onclick="return location.href=' @Url.Action("MissionApplication","Admin") '">
                    <i class="bi bi-folder-fill"></i><span>Mission Application</span>
                </li>
                <li onclick="return location.href=' @Url.Action("Story","Admin") '"><i class="bi bi-star-fill"></i><span>Story</span></li>
                <li onclick="return location.href=' @Url.Action("Banner","Admin") '"><i class="bi bi-bezier2"></i><span>Banner Management</span></li>
            </ul>
        </div>